---
import Layout from "../layouts/Layout.astro";
import Experience from "../sections/Experience.astro";
import Hero from "../sections/Hero.astro";
import Projects from "../sections/Projects.astro";
---

<Layout title="Portfolio de Mauricio Martínez">
  <main class="mx-auto font-raleway">
    <Hero />
    <Experience />
    <Projects />
  </main>
</Layout>
